<mat-toolbar color="primary">
  <span>_POC_</span>
  <span class="spacer"></span>
  <button mat-icon-button color="light" [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="addTab('Parcellaire', '/parcellaire')">
    <mat-icon>nature_people</mat-icon>
    <span>Parcellaire</span>
  </button>
  <button mat-menu-item (click)="addTab('Interventions', '/interventions')">
    <mat-icon>agriculture</mat-icon>
    <span>Interventions</span>
  </button>
  <button mat-menu-item>
    <mat-icon>water_pump</mat-icon>
    <span>Plan d'épandage</span>
  </button>
  <button mat-menu-item>
    <mat-icon>compost</mat-icon>
    <span>Plan de fumure</span>
  </button>
  <button mat-menu-item>
    <mat-icon>receipt_long</mat-icon>
    <span>PAC</span>
  </button>
  <button mat-menu-item>
    <mat-icon>forklift</mat-icon>
    <span>Gestion des stocks</span>
  </button>
  <button mat-menu-item>
    <mat-icon>euro</mat-icon>
    <span>Economique</span>
  </button>
</mat-menu>

<!-- <mat-tab-group preserveContent>

  <mat-tab label="First">
    <ng-template mat-tab-label>
    <mat-icon>home</mat-icon> COUCOU
    </ng-template>
    <ng-template matTabContent>
      <app-test1></app-test1>
    </ng-template>
  </mat-tab>

  <mat-tab label="Second">
    <ng-template matTabContent>
aaa
    </ng-template>
  </mat-tab>

  <mat-tab label="Third" preserve>
    <ng-template matTabContent>
      <app-test3></app-test3>
    </ng-template>
  </mat-tab>

</mat-tab-group> -->

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link *ngFor="let link of links" [active]="link.route === activeLink" (click)="activeLink = link.route" [routerLink]="link.route">{{link.label}}</a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>

<app-logs></app-logs>
